<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reply">

	<insert id="replyWrite">
		INSERT INTO REPLY (RNO, MNO, BNO, PARENTNO, CONTENT, LEV, STATUS, REGDATE)
		VALUES (SEQ_REPLY.NEXTVAL, #{mno}, #{bno}, #{parentno}, #{content}, #{lev}, DEFAULT, DEFAULT)

<!-- 		<selectKey keyProperty="bno" resultType="_int" order="AFTER">
			SELECT SEQ_BOARD.CURRVAL FROM DUAL
		</selectKey> -->
	</insert>
	
	
	<select id="replyCount" resultType="_int">
		SELECT COUNT(*) TOTALCOUNT 
		FROM REPLY R INNER JOIN BOARD  B ON R.BNO = B.BNO
			         INNER JOIN MEMBER M ON R.MNO = M.MNO
		<trim prefix="WHERE" prefixOverrides ="AND | OR ">
			<if test="bno != null and bno != '' ">
			AND r.BNO = #{bno}		
			</if>
			<if test="mno != null and mno != ''">
			and r.mno=#{mno}
			</if>
			<if test="searchKwd== 'title' and (kwd != null and kwd != '')">
			and b.title like '%'||#{kwd}||'%'
			</if>
			<if test="searchKwd== 'captain' and (kwd != null and kwd != '')">
			and r.content like '%'||#{kwd}||'%'
			</if>
			AND r.STATUS ='Y'
		</trim>
	</select>
	
	<select id="replyList" resultMap="replyMap">
		SELECT R.*, M.*, B.*, TO_CHAR(R.REGDATE, 'YYYY-MM-DD') REGS
		FROM REPLY R INNER JOIN BOARD  B ON R.BNO = B.BNO
			         INNER JOIN MEMBER M ON R.MNO = M.MNO
		<trim prefix="WHERE" prefixOverrides ="AND | OR ">
			<if test="type != null and type != '' ">
			AND type = #{type}		
			</if>
			
			<if test="bno != null and bno != '' ">
			AND R.BNO = #{bno}		
			</if>
			<if test="mno != null and mno != ''">
			and r.mno=#{mno}
			</if>
			<if test="searchKwd== 'title' and (kwd != null and kwd != '')">
			and b.title like '%'||#{kwd}||'%'
			</if>
			<if test="searchKwd== 'captain' and (kwd != null and kwd != '')">
			and r.content like '%'||#{kwd}||'%'
			</if>
			AND R.STATUS ='Y'
		</trim>
		START WITH R.LEV = 1 CONNECT BY PRIOR R.RNO = R.PARENTNO ORDER SIBLINGS BY R.REGDATE DESC
	</select>
	
	<update id="replyModify">
	  	UPDATE REPLY
	    <trim prefix="SET" suffixOverrides=",">
	      <if test="content != null"> CONTENT=#{content},</if>
	      <if test="status != null"> STATUS=#{status}</if>
	    </trim>
	  	WHERE RNO = #{rno}
	</update>
	
	
	<select id="replyOne" resultMap="replyMap">
		SELECT * FROM REPLY WHERE RNO = #{rno}
	</select>
	
	<delete id="replyDelete">
		DELETE FROM REPLY WHERE RNO = #{rno}
	</delete>
	
	<select id="replyDateStatisticsList" resultMap="replyMap"> 
		<![CDATA[ 
		SELECT NVL(TO_CHAR(REGDATE, 'YYYY-MM-DD'), '전체') RDATE, COUNT(*) CNT
		FROM REPLY
		WHERE REGDATE >= TO_DATE('20120620', 'YYYY-MM-DD')
		AND REGDATE < TO_DATE('20190505', 'YYYY-MM-DD') + 1
		GROUP BY ROLLUP(TO_CHAR(REGDATE, 'YYYY-MM-DD'))
		]]>
	</select>
	
	
	<resultMap type="map" id="replyMap">
	</resultMap>
	
	
</mapper>
