<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">

	<!-- 게시글 넣기 -->
	<insert id="insertBoard">
		INSERT INTO BOARD (BNO, MNO, TITLE, CONTENT, UPFILE, TYPE, REPLY, FORK, STATUS, REGDATE)
		VALUES (SEQ_BOARD.NEXTVAL, #{mno}, #{title, jdbcType=VARCHAR}, #{content, jdbcType=CLOB}, #{upfile, jdbcType=VARCHAR},
		                   #{type, jdbcType=VARCHAR}, DEFAULT, #{fork}, DEFAULT, DEFAULT)


		<selectKey keyProperty="bno" resultType="_int" order="AFTER">
			SELECT SEQ_BOARD.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="insertAttachment">
		INSERT INTO ATTACHMENT (ATTACHMENTNO, BOARDNO, ORIGINALFILENAME, RENAMEDFILENAME)
		VALUES(SEQ_ATTACHMENTNO.NEXTVAL, #{boardNo}, #{originalFileName}, #{renamedFileName})
	
	</insert>
	
	
	<select id="boardCount" resultType="_int">
		SELECT COUNT(*) TOTALCOUNT FROM BOARD B, MEMBER M 
		<trim prefix="WHERE" prefixOverrides ="AND | OR ">
			<if test="type != null and type != '' ">
			AND TYPE = #{type}		
			</if>
			<if test="searchType != null and searchType != '' ">
				<if test="searchKeyword != null and searchKeyword != '' ">
				AND ${searchType} like '%'||#{searchKeyword}||'%'		
				</if>
			</if>
			AND STATUS ='Y' AND B.MNO = M.MNO
		</trim>
	</select>
	

	<select id="boardList" resultMap="boardMap">
		SELECT B.*, M.MNAME, TO_CHAR(B.REGDATE , 'YYYY-MM-DD') REG, (SELECT COUNT(*)AS CNT FROM REPLY R WHERE R.BNO= B.BNO) CNT 
		FROM BOARD B, MEMBER M 
		<trim prefix="WHERE" prefixOverrides ="AND | OR ">
			<if test="type != null and type != '' ">
			AND TYPE = #{type}		
			</if>
			<if test="searchType != null and searchType != '' ">
				<if test="searchKeyword != null and searchKeyword != '' ">
				AND ${searchType} like '%'||#{searchKeyword}||'%'		
				</if>
			</if>
			AND STATUS ='Y' AND B.MNO = M.MNO
		</trim>
		ORDER BY BNO DESC
	</select>
	
	<select id="selectOne" resultMap="boardMap">
		SELECT B.*, M.MNAME, TO_CHAR(B.REGDATE , 'YYYY-MM-DD') REG FROM BOARD B, MEMBER M  WHERE BNO = #{bno} AND B.MNO = M.MNO
	</select>
	
	<update id="boardUpdate">
	  	UPDATE BOARD
	    <trim prefix="SET" suffixOverrides=",">
	      <if test="title != null"> TITLE=#{title},</if>
	      <if test="content != null"> CONTENT=#{content},</if>
	      <if test="upfile != null"> UPFILE=#{upfile},</if>
	      <if test="type != null"> TYPE=#{type}</if>
	      <if test="reply != null"> REPLY=#{reply}</if>
	      <if test="fork != null"> FORK=#{fork}</if>
	      <if test="status != null"> STATUS=#{status}</if>
	    </trim>
	  	WHERE BNO = #{bno}
	</update>
	<resultMap type="map" id="boardMap">
		<result property="CONTENT" column="CONTENT" jdbcType="CLOB" javaType="java.lang.String" />
	</resultMap>
	
	
</mapper>
