<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">

	<insert id="insertBoard">
		INSERT INTO BOARD (BNO, MNO, TITLE, CONTENT,TYPE)
		VALUES (SEQ_BNO.NEXTVAL, #{mNo}, #{title}, #{content},'일반')
		
		<!-- 전달한 board vo객체의 boardNo 프로퍼티에 결과값을 담는다. -->
	 <selectKey keyProperty="bNo" resultType="_int" order="AFTER">
			SELECT SEQ_BNO.CURRVAL FROM DUAL
		</selectKey>
	 
	</insert>
	
<!-- 	<insert id="insertAttachment">
		INSERT INTO ATTACHMENT (ATTACHMENTNO, BNO, ORIGINALFILENAME, RENAMEDFILENAME)
		VALUES(SEQ_ATTACHMENTNO.NEXTVAL, #{bNo}, #{originalFileName}, #{renamedFileName})
	
	</insert>
	 -->
	
	<select id="boardCount" resultType="_int">
		SELECT COUNT(*) TOTALCOUNT FROM BOARD
	</select> 
	
 	<select id="selectOneAttachCount" resultType="_int">
		SELECT COUNT(*) ONECOUNT FROM ATTACHMENT WHERE BNO = #{bNo}
	</select>

	
 	
  <select id="boardList" resultMap="boardMap">
 	select * from board 
	</select>
	
	 <select id="selectOneAttach" resultMap="boardMap">
 	select * from board where bNo=#{bNo}
	</select> 
	
	<select id="selectOne" resultMap="boardMap">
		SELECT * FROM BOARD WHERE BNO = #{bNo}
	</select>
	
	<resultMap type="map" id="boardMap">
	</resultMap>
<select id="selectOneBoard" resultType="board">
		SELECT * FROM BOARD WHERE bNo = #{bNo}
	</select>
	<!-- <resultMap type="attachment" id="attachment"></resultMap>
	<select id="selectAttachmentList" parameterType="_int" resultMap="attachment">
		SELECT * FROM ATTACHMENT WHERE BNO = #{bNo}
	</select> -->
<select id="selectOneBoardFix" resultType="board">
SELECT * FROM BOARD WHERE BNO = #{bNo}
</select>
<update id="updateBoard">
UPDATE BOARD SET TITLE=#{title}, CONTENT=#{content} WHERE BNO = #{bNo}
</update>
<delete id="deleteBoard">
DELETE FROM BOARD WHERE BNO = #{bNo}
</delete>
 <insert id="replyInsert" >
        INSERT INTO
        REPLY (RNO, MNO, BNO, TITLE, CONTENT)
        VALUES(#{rNo},#{mNo},#{bNo},#{title},#{content}) 
    </insert>



</mapper>

