<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">

	<!-- 게시글 넣기 -->
	<insert id="insertBoard">
		INSERT INTO BOARD (BNO, MNO, TITLE, CONTENT, UPFILE, TYPE, REPLY, FORK, STATUS, REGDATE)
		VALUES (SEQ_BOARD.NEXTVAL, #{mno}, #{title, jdbcType=VARCHAR}, #{content, jdbcType=CLOB}, #{upfile, jdbcType=VARCHAR},
		                   #{type, jdbcType=VARCHAR}, DEFAULT, #{fork}, DEFAULT, DEFAULT)


		<selectKey keyProperty="bno" resultType="_int" order="AFTER">
			SELECT SEQ_BOARD.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="insertAttachment">
		INSERT INTO ATTACHMENT (ATTACHMENTNO, BOARDNO, ORIGINALFILENAME, RENAMEDFILENAME)
		VALUES(SEQ_ATTACHMENTNO.NEXTVAL, #{boardNo}, #{originalFileName}, #{renamedFileName})
	
	</insert>
	
	
	<select id="boardCount" resultType="_int">
		SELECT COUNT(*) TOTALCOUNT FROM BOARD
	</select>
	
	
	<select id="boardList" resultMap="boardMap">
		SELECT B.*, M.MNAME, TO_CHAR(B.REGDATE , 'YYYY-MM-DD') REG FROM BOARD B, MEMBER M 
		<trim prefix="WHERE" prefixOverrides ="AND | OR ">
			<if test="type != null and type != '' ">
			AND type = #{type}		
			</if>
			AND STATUS ='Y' AND B.MNO = M.MNO
		</trim>
		ORDER BY BNO DESC
	</select>
	<select id="selectOneAttach" resultMap="boardMap">
		SELECT A.*, B.* FROM BOARD B, ATTACHMENT A WHERE B.BOARDNO = A.BOARDNO AND A.BOARDNO =  #{boardNo}
	</select>
	
	<select id="selectOne" resultMap="boardMap">
		SELECT * FROM BOARD WHERE BNO = #{bno}
	</select>
		<update id="updatePwd">
		update member set pwd=#{pwd} where mid=#{mid}
	</update>
	
	<update id="boardUpdate">
		UPDATE BOARD SET FORK = 1 WHERE BNO = #{BNO}
	</update>
	
	<resultMap type="map" id="boardMap">
		<result property="CONTENT" column="CONTENT" jdbcType="CLOB" javaType="java.lang.String" />
	</resultMap>
	
	
</mapper>
